<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">
        <%= image_tag("logo.png", :alt => "EthexInfo", :class => 'nav-img', :height => "50px", :width => "120px") %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="">Prediction</a>
        </li>
        <li>
          <a href="">Exchanges</a>
        </li>
      </ul>
    </div>
  </div>
</div>
